node_modules/faye/
node_modules/hubot/
node_modules/hubot-scripts/
node_modules/ntwitter/
node_modules/optparse/
node_modules/.bin/
.DS_Store*
.hubot_history
npm-debug.log 

node_modules/hubot-kandan/lib-cov
node_modules/hubot-kandan/*.seed
node_modules/hubot-kandan/*.log
node_modules/hubot-kandan/*.csv
node_modules/hubot-kandan/*.dat
node_modules/hubot-kandan/*.out
node_modules/hubot-kandan/*.pid
node_modules/hubot-kandan/*.gz

node_modules/hubot-kandan/pids
node_modules/hubot-kandan/logs
node_modules/hubot-kandan/results

node_modules/hubot-kandan/node_modules
node_modules/hubot-kandan/npm-debug.log
